.post {
  max-width: 500px;
  border: 1px solid lightgray;
  background-color: white;
  margin-bottom: 45px;
}

.postImage {
  width: 100%;
  object-fit: contain;
  border-top: 1px sold lightgray;
  border-bottom: 1px sold lightgray;
}

.postText {
  font-weight: normal;
  padding: 20px;
}

.postAvatar {
  margin-right: 10px;
}

.postHeader {
  display: flex;
  align-items: center;
  padding: 20px 10px;
}

.commentForm {
  display: flex;
  margin-top: 10px;
}

.likes {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 5px 15px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
}

.likesNumber {
  align-self: flex-end;
}

.postInput {
  flex: 1;
  border: none;
  padding: 10px;
  border-top: 1px solid lightgray;
}

.postButton {
  flex: 0;
  border: none;
  border-top: 1px solid lightgray;
  background-color: transparent;
  color: #6082a3;
  cursor: pointer;
  justify-self: flex-end;
}

.addComment {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  margin: 5px;
}

.postComments {
  margin: 10px;
}
